.gallery {
    height: 400px;
    width: 800px;
    max-width: 1400px;
    margin: 0 auto;
}

#carousel {
    height: 100%;
    width: 100%;
}

#carousel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#carousel .active {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
}

.fa-solid {
    cursor: pointer;
}

#carousel strong {
    position: absolute;
    color: #fff;
    top: 0;
    right: 0;
    z-index: 1;
    font-size: 15px;
    padding: 0 10px;
}

#carousel span {
    position: absolute;
    color: #fff;
    top: 30px;
    right: 0;
    z-index: 1;
    font-size: 12px;
    padding: 0 10px;
}

.pics {
    position: relative;
    display: none;
    height: 100%;
    width: 100%;
}

#thumbnails .active {
    filter: grayscale(0%);
}

#thumbnails {
    width: 800px;
    margin: 0 auto;
}

#thumbnails img {
    height: 80px;
    width: calc(100% / 5);
    border-radius: 20px;
    padding: 0 10px;
    filter: grayscale(100%);
}