.gallery {
    height: 400px;
    width: 800px;
    max-width: 1400px;
    margin: 0 auto;
}

#carousel {
    height: 100%;
    width: 100%;
}

#carousel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: none;
}

#carousel .active {
    display: block;
}

.fa-solid {
    cursor: pointer;
}